/* .main{
    max-width: 1200px;
} */

.filterSection{
    display: flex;
    justify-content: center;
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1rem;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
}

.filterGrid{
    padding: 1rem;
    border: 1px solid black;

}

.filterButton{
    display: none;
}

@media (width < 1280px) {

    .productSection{
        flex-direction: column;
        grid-template-columns: 100%;
    }

    .filterGrid{
        display: none;
    }

    .filterButton{
        display: block;
        padding: 1em;
        border: 1px solid grey;
    }
}

@media (max-width: 768px) {
    .productGrid{
        grid-template-columns: 1fr 1fr;
    }
}

