.main{
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: minmax(414px,1fr) minmax(300px,1fr);
    gap: 1rem;
    padding: 1rem;
    }

    .productImgCont{
        /* max-width: 500px;
        min-width: 300px; */
        border: 1px solid black

    }

    .productInfoCont{
        /* width: 800px; */
        border: 1px solid black
    }