.main{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    }

    .productImgCont, .productInfoCont  {
        padding: 0.5rem;
    }

    .productImgCont{
        border: var(--border)
    }

    .productInfoCont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: var(--border)
    }

    @media (max-width: 768px) {
        .main{
            grid-template-columns: 1fr;
        }
    }
    
