@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

  /* background colors */
  --bg-base: #000000;
  --bg-elevated: #121212;
  --bg-hover: #2a2a2a;
  --bg-secondary: #242424;

  /* text colors */
  --text-primary: #fff;
  --text-secondary: #a7a7a7;
  --text-third: #78716cd9;

  /* --border-primary: 1px solid #A4ADB7; */
  --border-primary: #a7a7a7;

  --headerHeight: 120px;
  --screenMinusHeaderHeight: calc(100dvh - (var(--headerHeight))) 

}

html{
  background-color: var(--bg-base);
  color: #fff;
  /* padding: .5rem; */
}

* {
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 100vw;
  margin-block: .125em;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100vw;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* ul[role='list'],
ol[role='list'] {
  list-style: none;
} */

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

div{
  /* border: 1px dashed rgba(169, 169, 169, 0.5) */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@layer components {
  .bg-primary{
    @apply bg-slate-600
  }
}