.formContainer{
    display: flex;
    display: grid;
    grid-template-columns:30% 70%;
    gap: 1rem;
}

.inputContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}