.main{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 78%;
    gap: 1rem;
    padding: 1rem;
    height: var(--screenMinusHeaderHeight);

}

.sideBar{
    padding: .5rem;
    background-color: var(--bg-elevated);
    border-radius: 0.25rem;
}

.content{
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}