.addContent{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 1rem;

}


@media (width < 1280px) {

    /* .main{
        flex-direction: column;
        grid-template-columns: 100%;
    } */

}

@media (max-width: 768px) {
    .productGrid{
        grid-template-columns: 1fr 1fr;
    }
}
    
    
    